*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2rem;
}

form {
    margin: 0 auto;
    max-width: 500px;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 4px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
}

ul.list-group {
    max-width: 1000px;
    margin: 2rem auto;
}